.list {
  /* height: 90vh; */
  background-color: black;
}

h1.projects {
  width: 190px;
  font-size: 55px;
  align-self: flex-start;
  color:  #df0c0c;
  padding: 36px;
  background: black; 
  margin-left: 55px;
  font-family: 'Roboto', sans-serif;

}

.cards {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  border-bottom: 2px solid #cdcfd6;
  border-top: 2px solid #cdcfd6;
}
@media only screen and (max-width: 700px) {
  h1.projects {
    padding-left: unset;
    text-align: center;
    font-size: 45px;
  }
}
